<%- include('partials/header') -%>

    <div class="bin-container">
        <textarea name="text" id="text"></textarea>
        <button id="bin-btn"><i class="fa fa-code"></i> Convert</button>
        <textarea readonly name="binary" id="binary"></textarea>
    </div>

    <%- include( 'partials/footer') -%>