<%- include('partials/header') -%>

    <div class="princpal-container">
        <div class="content">
            <h1>ENCRYPT, SAVE &<br>CREATE <span>STRONG PASSWORDS</span></h1>
            <p>Safest method to manage passwords <br>for social media & more.</p>
        </div>

        <!-- SOCIAL MEDIA INCONS -->

    </div>

    <%- include( 'partials/footer') -%>