<%- include('partials/header') -%>

    <div class="sha256-container">
        <div class="sha256-content">
            <textarea name="sha256-input" id="sha256-input"></textarea>
            <div class="conv-btns">
                <button id="btn-convert"><i class="fa fa-code"></i> Convert</button>
            </div>
            <textarea readonly name="sha256-converted" id="sha256-converted"></textarea>
        </div>
    </div>

    <%- include( 'partials/footer') -%>