<%- include('partials/header') -%>

    <div class="sha384-container">
        <div class="sha384-content">
            <textarea name="sha384-input" id="sha384-input"></textarea>
            <div class="conv-btns">
                <button id="btn-convert"><i class="fa fa-code"></i> Convert</button>
            </div>
            <textarea readonly name="sha384-converted" id="sha384-converted"></textarea>
        </div>
    </div>

    <%- include( 'partials/footer') -%>