<%- include('partials/header') -%>

    <div class="sha512-container">
        <div class="sha512-content">
            <textarea name="sha512-input" id="sha512-input"></textarea>
            <div class="conv-btns">
                <button id="btn-convert"><i class="fa fa-code"></i> Convert</button>
            </div>
            <textarea readonly name="sha512-converted" id="sha512-converted"></textarea>
        </div>
    </div>

    <%- include( 'partials/footer') -%>