.bin-container {
    padding: 20px;
    width: 500px;
    height: 500px;
    max-width: 100%;
    background: var(--bg--color);
    border: 12px solid var(--bg-color);
    filter: var(--filter1);
    margin: 50px auto;
    margin-bottom: 65px;
}

#text,
#binary {
    background: none;
    border: none;
    color: var(--color);
    font-size: 1.25rem;
    margin-top: auto;
    width: 100%;
    height: 180px;
    outline: none;
    resize: none;
}

.bin-btn {
    width: 100%;
    border: none;
    color: var(--color);
    cursor: pointer;
    font-size: 1.25rem;
    padding: 8px 12px;
    margin: 20px 5px;
    background: var(--bg-color);
    filter: var(--filter2);
}

.bin-btn:hover {
    filter: var(--filter3);
    transition: .3s ease-in-out;
}