/* Footer */

.footer {
    background: var(--nav-bg);
    color: var(--navfoot-color);
    font-size: 0.75rem;
    width: 100%;
    text-align: center;
    line-height: 3;
    pointer-events: none;
    position: absolute;
}

.footer .copy {
    color: var(--navfoot-color);
    text-decoration: none;
    pointer-events: auto;
}

.footer .copy:hover {
    color: var(--color2);
}