.princpal-container {
    background: #eef0f4;
    width: 100%;
    height: 80vh;
    color: var(--togglesliderColor);
    background: var(--bg-image) no-repeat center;
    background-size: var(--bg-size);
    padding: 1% 5%;
    pointer-events: none;
}

.content h1 {
    font-size: 2.6rem;
    margin-bottom: 15px;
}

.content h1 span {
    color: var(--color2);
}

.content p {
    line-height: 1.375rem;
    font-size: 1.1rem;
}