.login-container {
    background: var(--bg-color);
    height: 80vh;
}

.login-container div,
.login-container h1 {
    color: var(--color);
}

.login-container form {
    padding: 16px;
    width: 21%;
    margin: 0 auto;
}

.login-container form .segment {
    padding: 32px 0;
    text-align: center;
}

.login-container form .inputs-lg-sg {
    display: flex;
    flex-direction: baseline;
    gap: 2rem;
}

.login-container form button,
.login-container form input {
    border: none;
    outline: none;
    border-radius: 320px;
    padding: 16px;
    background: #ebecf0;
    text-shadow: 1px 1px 0 #fff;
}

.login-container form label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

.login-container form label input {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    width: 100%;
    transition: all .2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

.login-container form label input:focus {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.login-container form button {
    color: #61677c;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: all .2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

html[data-theme="dark"] .login-container form button {
    color: #61677c;
    box-shadow: -5px -5px 20px #494848, 5px 5px 20px #1f1f1e;
    transition: all .2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

.login-container form button:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

html[data-theme="dark"] .login-container form button:hover {
    box-shadow: -2px -2px 5px #7e7d7d, 2px 2px 5px #161616;
}

.login-container form button .icon {
    margin-right: 8px;
}

.login-container form button.unit {
    border-radius: 8px;
    line-height: 0;
    width: 48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 1.2rem;
}

.login-container form button.unit .icon {
    margin-right: 0;
}

.login-container form button.green {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    color: var(--color2);
    font-size: 1rem;
}

html[data-theme="dark"] .login-container form button.green {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    color: var(--color2);
    font-size: 1rem;
}

.login-container form hr {
    border: dotted grey;
    border-bottom: none;
    border-width: 5px;
    width: 210px;
    margin-left: 13.8%;
    margin-bottom: 10%;
}

.login-container h2 {
    margin-bottom: -5px;
}