<div class="footer">
    &copy Victor Zúniga 2023.
</div>

<!-- Own Javascript -->
<script defer src="js/index.js"></script>
<script defer src="js/dropdown-menu.js"></script>
<script defer src="js/darkmode.js"></script>
<script defer src="js/binary.js"></script>
<script defer src="js/sha256.js"></script>

</body>

<!-- *´¨)
¸.•´¸.•*´¨) ¸.•*¨)
(¸.•´ (¸.•` ¤ Victor Zuniga S.
            ¤ Carlos Mairena.

NOTE: This code was retrieved from <https://github.com/smthari/Password-generator-using-html-css-javascript> and this code in this respository is only for practice purposes. -->

</html>