<div class="footer">
   &copy Victor Zuniga 2023.
</div>

<!-- Own Javascript -->
<script defer src="js/index.js"></script>
<script defer src="js/dropdown-menu.js"></script>
<script defer src="js/darkmode.js"></script>
<script defer src="js/binary.js"></script>

</body>

<!-- *´¨)
¸.•´¸.•*´¨) ¸.•*¨)
(¸.•´ (¸.•` ¤ Victor Zuniga S.
            ¤ Carlos Mairena.

</html>
