<div class="footer">
    Source code: <a class="copy" href="https://github.com/smthari/Password-generator-using-html-css-javascript">smthari</a> <br> &copy Victor Zuniga 2022.
</div>

<!-- Own Javascript -->
<script defer src="js/index.js"></script>
<script defer src="js/dropdown-menu.js"></script>

</body>

<!-- *´¨)
¸.•´¸.•*´¨) ¸.•*¨)
(¸.•´ (¸.•` ¤ Victor Zuniga S.
            ¤ Carlos Mairena.

NOTE: This code was retrieved from <https://github.com/smthari/Password-generator-using-html-css-javascript> and this code in this respository is only for practice purposes. -->

</html>