<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Victor Zuniga">
    <meta name="copyright" content="smthari">
    <meta name="description" content="This site will be use for generating strong passwords and save them as wells as choose options while generating. It encrypts the generated passwords to be completely saved. It can also encrypt text when needed as an additional feature.">
    <meta name="keywords" content="password protection, password, password generator, generate password, encrypt password, encryption, password encryption, saved passwords, save your passwords, passwords">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">

    <title>Strong Password Generator</title>

    <!-- Fontawesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <!-- Own CSS file link -->
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <!-- Dark/Light Mode Toggle Switch -->
    <nav>
        <div class="header">
            <div class="dropdown" data-dropdown>
                <!-- Temporary  until we got a logo -->
                <button class="link" data-dropdown-button><a class="logo" href="/"><img src="css/imgs/logo.png" alt="Home"></a> </button>
            </div>
            <div class="dropdown" data-dropdown>
                <button class="link" data-dropdown-button>Language</button>
                <div class="dropdown-menu information-grid">
                    <div>
                        <div class="dropdown-heading"><strong>Choose Language</strong></div>
                        <div class="dropdown-links">
                            <a href="#" class="link lang-link"><img class="lang-icon" src="css/imgs/english.png" alt="English"> English</a>
                            <a href="#" class="link lang-link"><img class="lang-icon" src="css/imgs/spanish.png" alt="Spanish"> Spanish</a>
                            <a href="#" class="link lang-link"><img class="lang-icon" src="css/imgs/portuguese.png" alt="Portuguese"> Portuguese</a>
                            <a href="#" class="link lang-link"><img class="lang-icon" src="css/imgs/german.png" alt="German"> German</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown" data-dropdown>
                <button class="link" data-dropdown-button>Features</button>
                <div class="dropdown-menu information-grid">
                    <div>
                        <div class="dropdown-heading"><strong>Generate Passwords</strong></div>
                        <div class="dropdown-links">
                            <a href="/password" class="link">Strong Passwords</a>
                        </div>
                    </div>
                    <div>
                        <div class="dropdown-heading"><strong>Save Passwords</strong></div>
                        <div class="dropdown-links">
                            <a href="#" class="link">Manage Passwords</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown" data-dropdown>
                <button class="link" data-dropdown-button>Encrypt Text</button>
                <div class="dropdown-menu information-grid">
                    <div>
                        <div class="dropdown-heading"><strong>Encryption</strong></div>
                        <div class="dropdown-links">
                            <a href="/binary" class="link">Binary</a>
                            <a href="/sha256" class="link">Sha256</a>
                            <a href="/sha384" class="link">Sha384</a>
                            <a href="/sha512" class="link">Sha512</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-sign">
            <button class="link"><a class="link" href="/signup">Sign Up</a></button>
            <div class="sep"></div>
            <button class="link"><a class="link" href="/login">Log In</a></button>
        </div>
        <div class="switch-dark-light">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" >
                <div class="slider round"></div>
            </label>
            <em>Switch Theme</em>
        </div>
    </nav>